#contact-left {
    display: inline-block;
    padding-right: 200px;

    input {
        display: block;
    }
}

#contact-right {
    display: inline-block;
    padding-left: 200px;
}

#vertical-divide {
    height: 300px;
    background-color: black;
    width: 1px;
    display: inline-block;
}

#contact-content {
    margin-bottom: 50px;
}