.site-main-home {

    #main-slider {
        height: 500px;
        background-color: #efefef;
        padding-left: 15%;

        #main-slider-image {
            width: 450px;
            height: 500px;
            display: inline-block;
        }

        #main-slider-content {
            
            display: inline-block;
            vertical-align: top;
            padding-top: 90px;
            padding-left: 25%;

            #main-slider-header {
                color: #222;
                display: block;
                text-align: right;
            }

            #main-slider-body {
                display: block;
                text-align: right;
                line-height: 1.7;
                width: 700px;
                color: #222;
            }

            #main-slider-button {
                display: block;
                float: right;
            }
        }
    }

    .divider {
        width: 100%;
        height: 4px;
        background-color: #e9e9e9;
    }

    #types-section {

        display: block;
        background-color: $color__brand-background_one;
        margin: auto;
        text-align: center;
        padding: 0px;


        .type-content {
            width: 33%;
            height:300px;
            margin: 0px;
            padding: 80px 40px;
            display: inline-block;
            background-color: $color__brand-background_three;

            .type-section-image {
                background-color: black;
                width: 275px;
                height: 275px;
                display: block;
                margin:  12.5px auto;
            }

            .type-section-header {
                margin: 0px;
                color: white;
            }

            .type-section-body {
                margin: 5px 15px;
                color: white;
            }

            .type-section-button {
                margin: 10px 0px 20px 0px;
            }
        }

        #personal-type {
            background-image: url('http://localhost/wordpress/wp-content/uploads/2017/04/types-1.jpg');
        }

        #business-type {
            background-image: url('http://localhost/wordpress/wp-content/uploads/2017/04/types-2.jpg');
        }

        #eCommerce-type {
            background-image: url('http://localhost/wordpress/wp-content/uploads/2017/04/types-3.jpg');
        }
    }

    #about-us-section {

        height: 400px;
        background-color: black;
        display: block;
        padding: 50px 400px;

        #about-us-image {
            width: 300px;
            height: 300px;
            background-color: red;
            float: right;
        }

        #about-us-content {

            display: inline-block;

            #about-us-header {
                display: block;
                color: $color__text-main-white;
            }

            #about-us-body {
                display: block;
                width: 500px;
                color: $color__text-main-white;
            }
        }
    }

    #solutions-section {

        .solution-section-content {

            display: block;
            padding: 50px 300px;
            height: 330px;

            .solution-content {

                display: inline-block;
                margin-left: 100px;

                .solution-content-header {
                    color: $color__text-main-white;
                }

                .solution-content-body {
                    color: $color__text-main-white;
                }
            }
            
            .solution-image {
                width: 200px;
                height: 200px;
                display: inline-block;
                background-color: green;
            }
        }

        #complete-solution {
            background-color: blue;
        }

        #install-solution {
            background-color: red;

            .solution-image {
                float: right;
            }
        }

        #handover-solution {
            background-color: blue;
        }
    }

    #clients-section {
        height: 600px;
        display: block;
        background-color: purple;
        padding: 100px 400px;

        h1 {
            color: $color__text-main-white;
        }
    }
}