.site-main-home {

    #main-slider {
        height: 500px;
        background-color: #efefef;
        padding-left: 15%;

        #main-slider-image {
            width: 450px;
            height: 500px;
            display: inline-block;
        }

        #main-slider-content {
            
            display: inline-block;
            vertical-align: top;
            padding-top: 90px;
            padding-left: 33%;

            #main-slider-header {
                color: #222;
                display: block;
                text-align: right;
            }

            #main-slider-body {
                display: block;
                text-align: right;
                line-height: 1.7;
                width: 700px;
                color: #222;
            }

            #main-slider-button {
                display: block;
                float: right;
            }
        }
    }

    .divider {
        width: 100%;
        height: 4px;
        background-color: #e9e9e9;
    }

    #types-section {

        display: block;
        background-color: $color__brand-background_one;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 300px;
        text-align: center;
        


        .type-content {
            width:33.33333333%;
            float: left; //'Ignored', but still has an effect. Don't remove.
            height:300px;
            margin: 0px;
            padding: 80px 40px;
            display: inline-block;
            background-color: $color__brand-background_three;

            .type-section-image {
                background-color: black;
                width: 275px;
                height: 275px;
                display: block;
                margin:  12.5px auto;
            }

            .type-section-header {
                margin: 0px;
                color: white;
            }

            .type-section-body {
                margin: 5px 15px;
                color: white;
            }

            .type-section-button {
                margin: 10px 0px 20px 0px;
            }
        }

        #personal-type {
            background-image: url('http://localhost/wordpress/wp-content/uploads/2017/07/types-1.jpg');
        }

        #business-type {
            background-image: url('http://localhost/wordpress/wp-content/uploads/2017/07/types-2.jpg');
        }

        #eCommerce-type {
            background-image: url('http://localhost/wordpress/wp-content/uploads/2017/07/types-3.jpg');
        }
    }

    #about-us-section {

        height: 450px;
        background-color: $color__brand-background_one;
        display: block;
        padding-top: 75px;
        padding-left: 25%;

        #about-us-image {
            width: 300px;
            height: 300px;
            background-color: #333;
            display: inline-block;
        }

        #about-us-content {

            display: inline-block;
            vertical-align: top;
            padding-top: 60px;
            padding-left: 50px;

            #about-us-header {
                display: block;
            }

            #about-us-body {
                display: block;
                width: 500px;
            }
        }
    }

    #solutions-section {

        .solution-section-content {

            display: block;
            padding: 50px 300px;
            height: 410px;

            .solution-content {

                display: inline-block;
                width: 60%;
                margin-left: 50px;

                .solution-content-header {
                    color: $color__brand-background_four;
                }

                .solution-content-body {
                    color: $color__brand-background_four;
                    margin-bottom: 20px;
                }
            }
            
            .solution-image {
                width: 200px;
                height: 200px;
                display: inline-block;
                background-color: green;
            }
        }

        .header-underline{
            background-color: $color__text-main-white;
            display: block;
            height: 1px;
            width: 50%;

        }

        .solution-contact-badge{
            padding: 5px 10px;
            display: inline-block;
            border: 2px solid $color__brand-primary;
            border-radius: 5px;
            color: $color__text-main-white;
        }

        #complete-solution {
            background-color: $color__brand-background_four;

            h3 {
                color: $color__text-main-white;
            }

            p {
                color: $color__text-main-white;
            }
        }

        #install-solution {
            background-color: $color__brand-background_one;

            .header-underline{
                background-color: $color__brand-background_four;
            }

            .solution-contact-badge{
                color: $color__brand-background_four;
            }

            .solution-image {
                float: right;
            }
        }

        #handover-solution {

            h3 {
                color: $color__text-main-white;
            }

            p {
                color: $color__text-main-white;
            }

            background-color: $color__brand-background_four;
        }
    }

    #clients-section {
        height: 600px;
        display: none;
        background-color: purple;
        padding: 100px 400px;

        h1 {
            color: $color__text-main-white;
        }
    }
}