.site-main-sites-for {
    margin-left: 25%;
    margin-right: 25%;
}

#header-container {
    background-color: grey;
    width: 100%;
    height: 300px;
    padding: 1% 10%;
    display: block;

    button {
        margin: auto;
        margin-top: 50px;
        display: block;
    }
}

#body-container {
    margin-top: 50px;

    .service-container {
        width: 100%;
        height: 300px;

        .service-content {
            display: inline-block;
        }

        .service-image {
            width: 200px;
            height: 200px;
            background-color: red;
            display: inline;
            float: right;
        }

        #install-service-image {
            float: left;
        }
    }

    #install-service {
        text-align: right;
    }
}