$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

////////////////////
//*** OUR VARS ***//
////////////////////
$color__text-main: #444;
$color__text-main-white: #efefef;
$color__text-main-hover: #333;

$color__brand-primary:#F44336;
$color__brand-primary-hover:#f72c1d;
$color__brand-background_one: #f2f2f2;
$color__brand_background_two: #333;