//Burger Menu Styling (small screens)
@media screen and (max-width: 899px){

	//This CSS is OFF

	#menu-buttons-container {
		width: 100vw;
	}

	.menu__item  {
		background: white;
		width: 0%;
		transition: all .5s ease;
		border-top: 1px #afafaf solid;
		margin-left: -30px;
		transition: all .4s ease;
		display: block !important;
		float: none !important;
		
		a {
			width: 100vw;
			margin-left: -100vw !important;
			transition: all .4s ease;
		}

		//This CSS is ON
		&--play {

			width: 100vw;

			a {
				margin-left: 0px !important;
				transition: all .4s ease;
			}

			a:hover {
				background: $color__brand-primary;
				transition: all .4s line;
				color: white !important;
			}
		}
	}

	#nav-bar-with-button {
		margin-top: -7px;
		float: left !important;
	}

	.menu-link {
		display: none !important;
	}

	#mobile-burger{
		float:right;
		clear:both;
		text-align: center;
		font-weight:bold;
		color:$color__text-main;
		line-height: 34px;
		font-size:18px;
		height: 60px;
		padding:0;
	}

	.hamburger {
		padding-top: 20px !important;
	}

}

// desktop nav styling
.main-navigation {
	clear: both;
	display: inline-block;

	width: 100%;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px;

	font-family: $font__nav;
	background: $color__brand-background_one;

	@include dropShadow(0, 2, 4, rgba(0, 0, 0, 0.15));

	// hiding burger/menu on full width
	@media screen and (min-width: 900px){
		#mobile-burger{
			display:none;
		}

		.menu-contact {
			display: none;
		}

		.menu-link {
			display: inline-block;
		}
	}

	ul {
		
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 25px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				min-width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		color: $color__text-main;
	}

	a {
		display: block;
		text-decoration: none;
	}

	a:visited,
	a:link,
	a:active {
		color: $color__text-main;
	}

	a:hover {
		color: $color__text-main-hover;
	}

	#nav-logo {
		width: 60px;
		height: 60px;
		background-image: url("/wordpress/wp-content/uploads/2017/03/w4-logo.png");
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;			
	}

	#nav-logo-text {
		height: 60px;
		width: 80px;
		padding-top:15px;
		line-height: 19px;
		font-size:18px;
		float:right;
		font-weight:bold;

	}

	#primary-menu {
		padding-top: 13px;
	
		li {
			padding-left: 30px;

		}
	}
}

#nav-bar-with-button {
	pointer-events: none;
	float:right;
}

#main-nav-container {
	max-width: 1300px;
	margin: auto;
}

.menu-nav-container {
	display: inline-block;
	margin-right: 15px;
}


//*** CONTAINER FOR MAIN NAVIGATION BAR LINKS ***//
#menu-buttons-container { 

	pointer-events: none;
	
	a {
		
		display: inline-block;
		height: 60px;
		padding: 15px 40px;
		font-size:18px;
		line-height: 33px;
		
	}

	a:hover {
		border-bottom: 5px solid $color__brand-primary;
	}
}

.nav-menu {
	pointer-events: auto;
}
//*** END - MENU BUTTONS CONTAINER - END **//





//*** FOOTER ELEMENTS ***//
.site-footer {
	clear: both;
	width: 100%;
	@include dropShadow(0, -2, 4, rgba(0, 0, 0, 0.15));
	background-color: $color__brand_background_two;
	
	p {
		color: $color__brand_background_one;
	}
}

.navbar-fixed {
    z-index: 100;
 	position: fixed;
    width: 100%;
}

.site-info {

	padding: 0 25%;

	h1, h3 {
		color: $color__text-main-white;
	}

	a, a:visited, a:hover, a:link {
		color: $color__text-main-white;
		text-decoration: none;
	}

	#footer-header{
		display: block;
		height: 120px;
	}

	#footer-panel-container {
		display: block;
		height: 120px;

		#footer-panel-email {
			display: inline-block;
		}

		#footer-panel-phone {
			display: inline-block;
			margin-left: 120px;
		}
	}

	#footer-additional-info {
		display: block;
		height: 120px;
		padding-top: 55px;
	}
}

#header-nav-fill {
	min-height: 60px;
}
//*** END - FOOTER ELEMENTS - END ***//


